:root {
  margin: 0px;
}

#app {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0px;
  height: 100vh;
  width: 100vw;
}


.Classy {
  background-color: black;
}

.Classy .base {
  color: white;
  border-color: white;
}

.Classy .background {
  background-color: black;
}

.Classy .accent {
  color: black;
  background-color: white;
}

.Classy .colorTailLeft {
  background-image: linear-gradient(to bottom right, white 50%, #00000000 50%);
}

.Classy .colorTailRight {
  background-image: linear-gradient(to bottom left, white 50%, #00000000 50%);
}

.Classy .bar1, .Classy .bar2, .Classy .bar3 {
  background-color: white;
}

.Classy .change .bar1, .Classy .change .bar3 {
  background-color: black;
}

.Classy .pink {
  color: #ff69b4;
}


.Cozy {
  background-color: #ead1dc;
}

.Cozy .base {
  color: #783f04;
  border-color: #783f04;
}

.Cozy .background {
  background-color: #ead1dc;
}

.Cozy .accent {
  color: #ead1dc;
  background-color: #783f04;
}

.Cozy .colorTailLeft {
  background-image: linear-gradient(to bottom right, #783f04 50%, #ead1dc 50%);
}

.Cozy .colorTailRight {
  background-image: linear-gradient(to bottom left, #783f04 50%, #ead1dc 50%);
}

.Cozy .bar1, .Cozy .bar2, .Cozy .bar3 {
  background-color: #783f04;
}

.Cozy .change .bar1, .Cozy .change .bar3 {
  background-color: #ead1dc;
}

.Cozy .pink {
  color: #B98868;
}


.Cool {
  background-color: #063970;
}

.Cool .base {
  color: silver;
  border-color: silver;
}

.Cool .accent {
  color: #063970;
  background-color: silver;
}

.Cool .background {
  background-color: #063970;
}

.Cool .colorTailLeft {
  background-image: linear-gradient(to bottom right, silver 50%, #063970 50%);
}

.Cool .colorTailRight {
  background-image: linear-gradient(to bottom left, silver 50%, #063970 50%);
}

.Cool .bar1, .Cool .bar2, .Cool .bar3 {
  background-color: silver;
                    /*c0c0c0*/
}

.Cool .change .bar1, .Cool .change .bar3 {
  background-color: #063970;
}

.Cool .pink {
  color: #6374A0;
}


.Carefree {
  background-color: #368a3a;
}

.Carefree .base {
  color: #f7ed98;
  border-color: #f7ed98;
}

.Carefree .accent {
  color: #368a3a;
  background-color: #f7ed98;
}

.Carefree .background {
  background-color: #368a3a;
}

.Carefree .colorTailLeft {
  background-image: linear-gradient(to bottom right, #f7ed98 50%, #368a3a 50%);
}

.Carefree .colorTailRight {
  background-image: linear-gradient(to bottom left, #f7ed98 50%, #368a3a 50%);
}

.Carefree .bar1, .Carefree .bar2, .Carefree .bar3 {
  background-color: #f7ed98;
}

.Carefree .change .bar1, .Carefree .change .bar3 {
  background-color: #368a3a;
}

.Carefree .pink {
  color: #97AC69;
}